<div style="text-align:center">

  <img class="smallImage" src="../../../assets/img/todo-logo.png" />

  <br />
  <h2>Welcome back, {{username}}!</h2> &nbsp; <button mat-raised-button (click)="logout()" style="background-color: red">Log Out</button>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Your Todos on" [(ngModel)]="date" name="date" (dateChange)="reload()">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <button mat-mini-fab (click)="openCreateTodo()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-grid-list cols="3">

    <mat-card class="example-card" *ngFor="let todo of this.todos" [class.event]="todo.type === 'Event'" (click)="openMap(todo.lat, todo.lng)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="biggerFont">{{todo.name}}</mat-card-title>
        <mat-card-subtitle *ngIf="todo.type === 'Event'">{{todo.type}} at {{todo.deadline | date:'shortTime'}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="todo.type === 'Task'">{{todo.type}} by {{todo.deadline | date:'shortTime'}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content height="80px">
        <p>
          {{todo.description}}
        </p>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let email of todo.emails">
            {{email}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button style="background-color: #42f498" (click)="deleteTodo(todo._id, 1)">Mark as Done</button>
        <button mat-raised-button color="accent" (click)="deleteTodo(todo._id, 0)">Cancel the To-Do</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-list>
</div>
